<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All posts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Let's Comment</h1>
  <% for(let post of posts) { %>
    <div class="division">
      <h3>@ <%= post.username %></h3>
      <h4><%= post.content %></h4>
    </div>
  <% } %>

  <br><br>
  <a href="/posts/new">Create new post </a>
</body>
</html>
