<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comment</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter your name" name="username"><br><br>
        <textarea name="content" placeholder="write your post here"></textarea><br><br> 
        <button>submit post</button>
    </form>
</body>
</html>